<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" cellspacing="1" cellpadding="1">
    <tr>
      <th scope="row"><a href="register">Register</a></th>
    </tr>
    <tr>
        <th scope="row"><a href="add_doctor" >Add doctor</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_doctor">view doctor</a> </th>
    </tr>
    <tr>
      <th scope="row"><a href="fecility_add">Feciity add</a> </th>
    </tr>
    <tr>
      <th scope="row"><a href="feciity_view">Feciity view</a> </th>
    </tr>
    <tr>
      <th scope="row"><a href="update_accident_report">Accident Report</a> </th>
    </tr>
    <tr>
      <th scope="row"><a href="view_policestation">View Police station</a> </th>
    </tr>
        <tr>
      <th scope="row"><a href="view_accident_detections">view accident detection</a> </th>
    </tr>
    <tr>
      <th scope="row"><a href="logout">Logout</a> </th>
    </tr>
  </table>
</form>
</body>
</html>
