<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" cellspacing="1" cellpadding="1">
    <tr>
      <th scope="row"><a href="view_registered_hospital">view registered hospital</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="view_approved_hospital" >view approved hospital</th>
    </tr>
    <tr>
      <th scope="row"><a href="view_registered_policestation">view registered police station</a> </th>
    </tr>
    <tr>
      <th scope="row">&nbsp;<a href="view_approved_policestation">view approved police station</a> </th>
    </tr>
    <tr>
      <th scope="row"><a href="view_registered_user"> view registered user</a> </th>
    </tr>
    <tr>
      <th scope="row"><a href="view_accident_detection">view accident detection</a> </th>
    </tr>
    <tr>
      <th scope="row"><a href="logout">Logout</a> </th>
    </tr>
  </table>
</form>
</body>
</html>
